@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;300;500&family=Staatliches&display=swap');

:root {
    --grad-grey: rgb(209, 208, 210);
    --grad-black: rgb(75, 66, 66);
    --grad-silver: rgb(118, 102, 102);

    --grad-blue: rgb(26, 160, 227);
    --grad-red: rgb(242, 61, 44);
    --police-title: 'Staatliches', cursive;
    --police-text: 'Oswald', sans-serif;
}

/* MOBILE FIRST */
@media (max-width: 460px) {
    html{
        background-color: var(--grad-black);
        color: var(--grad-blue);
    }

    main{
        width:100%;
    }



            /* 
            ***** MOBILE VERSION FIRST ****
            */

    /* HOME PAGE */


    #latest-movie{
        width:100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .poster{
        width:96%;
        padding:2% 2%;
    }



    li{
        text-decoration: none;
    }

    a{
        text-decoration: none;
    }

    /* ONE PAGE MOVIE INFO */

    h1, .rate-info{
        margin:0%2%;
    }

    .one-poster{
        width:96%;
        padding:2% 2%;
    }

    #content-info{
        padding:2% 2%;
        text-align: justify;
    }

    
    /* --------------reviews part */
    .review{
        background-color: black;
        color: antiquewhite;
        padding:15px;
        margin:30px 15px 0px 15px;
        text-align: justify;
    }

    .content{
        margin-bottom:20px;
        padding:2% 2%;
        text-align: justify;
    }

    .content-info{
        padding:2% 2%;
        text-align: justify;
    }
}


            /* 
            *****DESKTOP VERSION ****
            */
@media (min-width: 460px) {
    html{
        background-color: var(--grad-black);
        color: var(--grad-white);
        font-family: var(--police-text);
    }

        /* HOME PAGE */

    #latest-movie{
        width:100%;
    }

    h1{
        letter-spacing: 0.1em;
        color: antiquewhite;
        padding:0px 75px;
    }

    li{
        list-style-type: none;
        color: var(--grad-grey);
    }

    .poster{
        width:19%;
        height:auto;
        padding:2px;
    }


    /* ONE PAGE MOVIE INFO */

    #details-movie{
        font-size: 1.4em;
        padding:80px;
        letter-spacing: 0.1em;
        color: antiquewhite;
    }

    a{
        text-decoration: none;
        color: var(--grad-red);
    }

    .main-info{
        display:flex;
        flex-direction: row;
    }

    .one-poster{
        width:300px;
        height:auto;
        padding:2px;
        margin:0 20px 0 0px;
    } 

    .overview{
        width:30%;
    }

    #content-info{
        padding:2% 2%;
        text-align: justify;
    }

    #reviews-space{
        padding:75px;
        text-align: justify;
    }

    .review{
        background-color: var(--grad-silver);
        color: antiquewhite;
        padding:15px;
        margin:10px 0px 0px 0px;
        padding:50px;
        letter-spacing: 0.1em;
        text-align: justify;
    }

    .content{
        font-size: 1.1em;
        margin-bottom:20px;
        text-align: justify;
    }
}